#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug/
[Rr]elease/
Ankh.NoLoad

#Bower
.bower/

#RiderC#
.idea/
*.*.iml

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esults*/
*.sass-cache

# Office Temp Files
~$*

# visual studio database projects
*.dbmdl

/.paket/paket.exe
/packages
/paket-files/
/src/UpgradeLog*.htm
/.fake
/nugets
/.vs
/.paket/Paket.Restore.targets
.vscode/
